<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/dashboard/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/static/dashboard/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/dashboard/libs/css/style.css">
    <link rel="stylesheet" href="/static/dashboard/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <title>Lihat Produk</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="#"><img src="/static/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="./assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">Al-Fariqy Raihan</h5>
                                    <span class="status"></span><span class="ml-2">Admin</span>
                                    <span class="status"></span><span class="ml-2">Aktif</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark" style="background-color:#3236a8;">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="/dashboard/{{ token }}">Dasbor</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider" style="color: white;">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/dashboard/{{ token }}" style="color: white;"><i class="fa fa-fw fa-user-circle" style="color: white;"></i>Dasbor</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" style="color: white;" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-form-product" aria-controls="submenu-form-product"><i class="fab fa-fw fa-wpforms" style="color: white;"></i>Formulir</a>
                                <div id="submenu-form-product" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="/add_product/{{token}}">Tambah Produk</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Tambah Banner</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Tambah Paket</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Tambah Promo</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: white;" href="/order_views/{{token}}"><i class="fas fa-fw fa-table" style="color: white;"></i>Lihat Pesanan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: white;" href="/view_products/{{token}}"><i class="fas fa-fw fa-table" style="color: white;"></i>Lihat Produk</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" style="color: white;" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-team" aria-controls="submenu-team"><i class="fab fa-fw fa-wpforms" style="color: white;"></i>Tim</a>
                                <div id="submenu-team" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Tambah Admin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Lihat Admin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Tambah Operator</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Lihat Operator</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Lihat Tim</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" style="color: white;" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-form" aria-controls="submenu-form"><i class="fab fa-fw fa-wpforms" style="color: white;"></i>Catatan</a>
                                <div id="submenu-form" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Catatan Pribadi</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Catatan Bersama</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" style="color: white;" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-integration" aria-controls="submenu-integration"><i class="fab fa-fw fa-wpforms" style="color: white;"></i>Integrasi</a>
                                <div id="submenu-integration" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="/integration/fb/{{ token }}">Facebook Ads</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">TikTok Ads</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Instagram Ads</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Google Ads</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Customer Ads</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}"><i class="fas fa-fw fa-table" style="color: white;"></i>Keamanan</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" style="color: white;" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-monitoring" aria-controls="submenu-monitoring"><i class="fab fa-fw fa-wpforms" style="color: white;"></i>Monitoring</a>
                                <div id="submenu-monitoring" class="collapse submenu">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Monitoring Pengunjung</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: white;" href="{{ url_for('coming_soon') }}">Monitoring Pekerjaan</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Lihat Produk</h2>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for product in data_products %}
                                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="product-thumbnail">
                                            <div class="product-img-head">
                                                <div class="product-img">
                                                    <img style="width:228px;height:250;" src="{{product['image']}}" alt="" class="img-fluid"></div>
                                                <div class=""></div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-content-head">
                                                    <h3 class="product-title">{{product["name"]}}</h3>
                                                    <div class="product-rating d-inline-block">
                                                        <i class="fa fa-fw fa-star"></i>
                                                        <i class="fa fa-fw fa-star"></i>
                                                        <i class="fa fa-fw fa-star"></i>
                                                        <i class="fa fa-fw fa-star"></i>
                                                        <i class="fa fa-fw fa-star"></i>
                                                    </div>
                                                    <div class="product-price">{{product["price"]}}</div>
                                                </div>
                                                <div class="product-btn">
                                                    <a href="{{url_for('officers_edit_product', token = token, product_id = product['id'])}}" class="btn btn-primary">Edit Produk</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link " href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>
    </div>
        <!-- ============================================================== -->
        <!-- end main wrapper  -->
        <!-- ============================================================== -->
        <!-- Optional JavaScript -->
        <!-- jquery 3.3.1 -->
        <script src="/static/dashboard/vendor/jquery/jquery-3.3.1.min.js"></script>
        <!-- bootstap bundle js -->
        <script src="/static/dashboard/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <!-- slimscroll js -->
        <script src="/static/dashboard/vendor/slimscroll/jquery.slimscroll.js"></script>
        <!-- main js -->
        <script src="/static/dashboard/libs/js/main-js.js"></script>
</body>
 
</html>